<!-- Header -->
<%- include("partials/header") -%>

<h1>Home Page</h1>

<p> <%= startingContent %> </p>

<% console.log(post); %>

<!-- loop that grabs the post title -->

<% post.forEach(function(post){ %>
   <!-- <% console.log(post.title); %> -->

    <h1><%= post.title %></h1>
    <p><%= post.content.substring(0, 100) + "..." %>
        <a href="/post/<%= post.title %>">Read More</a>
    </p>

<% }) %>

<!-- Footer -->
<%- include("partials/footer") -%>

